@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Budget application because I don't want to pay for YNAB and I think I can put something decent together myself.</p>
